*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background: #cfd49e;
    overflow-x: hidden

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right,  #000, #9f9b9b );
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    border-radius: 6px;

}
header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#ffcc00;
    font-weight: 750;
}
/*.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}*/
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: #ffcc00;
    transition: all 0.3s ease;
}
.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #ffcc00;
    transition: color 0.3s ease;
    font-weight: bold;
}
nav ul li a:hover {
    color: #fff;
}
nav.active ul {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: fixed;
    top: 60px;
    z-index: 1000;
    right: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
body.dark-mode {
    background: #1a1a1a;
    color: #f4f4f4;
}

.theme-toggle {
    position: relative;
    top: 5px;
    right: 20px;
    background: #fff;
    color: #333;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.section {
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
}
.hero {
    height: 100vh;
    background: url('pexels.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    z-index: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hero-content {
    z-index: 2;
    max-width: 800px;
    padding: 20px;
    animation: fadeIn 1.5s ease-in-out;
}
.hero-content h1{
    z-index: 2;
    max-width: 800px;
    padding: 20px;
    animation: fadeIn 1.5s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero-content p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.cta-button {
    background: linear-gradient(to right, #ffcc00, #e2bc02);
    color: #fff;
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1.2rem;
    animation: fadeInUp 1.5s ease-in-out;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}
.cta-button:hover {
    background: #fff;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}
.cta-button:active {
    transform: scale(0.95);
}
.cta-button:focus {
    outline: 2px solid #4a90e2;
    outline-offset: 2px;
}
/*.cta-section-content {
    max-width: 600px;
}
.cta-button:focus,
.contact-form button:focus {
    outline: 2px solid #4a90e2;
    outline-offset: 2px;
}*/
/*animation*/

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
}
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    from {opacity: 0;
    transform: translateY(20px);
}
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media(min-width: 768px) {
    header {
        flex-direction: row;
        text-align: center;
    }
    nav ul {
        flex-direction: grid;
        gap: 10px;
    }
    .faq-item h3 {
        font-size: 1.3rem
    }
    .faq-item p {
        font-size: 1.3rem;
    }
    .contact-faq h1 {
        font-size: 2rem;
    }
    .contact-faq p {
        font-size: 1.2rem;
    }
    .info-item h3 {
        font-size: 1rem;
    }
    .info-item p {
        font-size: 0.9rem;
    }
    .faq h2 {
        font-size: 2rem;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-image,
    .contact-form-section {
        text-align: center;
    }
    .cta-section {
        padding: 60px 20px;
    }
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
    .services-list {
        flex-direction: row-reverse;
    }
}
@media(max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: 1.2rem;
    }
    .services h2 {
        font-size: 1.5rem;
    }
    .service p{
        font-size: 1rem;
    }
    .service {
        padding: 10px;
    }
    .service h3 {
        font-size: 1.2rem;
    }
    .contact-section {
        flex-direction: column;
    }
    .contact-info h2{
        font-size: 1.5rem;
        text-align: center;
    }
    .contact-info p {
        font-size: 1rem;
        font-family: sans-serif;
    }
    .contact-info,
    .contact-form {
        flex: none;
        width: 100%;
    }
    .faq-section h2 {
        font-size: 1.2rem;
    }
    .menu-toggle {
        display: flex;
    }
    nav ul {
        display: none;
    }
    nav.active ul {
        display: column;
    }
    .contact-image,
    .contact-form-section {
        text-align: column;
    }.portfolio {
        padding: 20px 10px;
    }
    .portfolio h2 {
        font-size: 1.8rem;
    }.portfolio-item img {
        max-height: 120px;
    }
    .portfolio-item h3 {
        font-size: 0.9rem;
    }
    .portfolio-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }
    .portfolio-grid,
    .team-grid {
        grid-template-columns: 1fr;
    }
    .team-grid {
        grid-template-areas:
        "member1"
        "member2"
        "member3";
    }
    .testimonials {
        max-width: 600px;
    }
}
    
.social-proof {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    border-radius: 30px;
    padding: 60px 20px;
    background: linear-gradient(to right, #766627 , #666);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}
.social-proof h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1a1a2e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
}
.social-proof q {
    font-size: 1.2rem;
    font-style: italic;
    color: #000;
}
.testimonials {
    padding: 60px 20px;
    text-align: center;
    color: #000;
    background: #cfd49e;
    
}
.testimonials h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
    justify-content: center;
    align-items: center;
}
.slider .testimonial p{
    flex: 0 0 300px;
    background:linear-gradient(to right, #666, #000);
    padding: 20px;
    border-radius:20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    scroll-snap-align: center;
    animation: fadeInUp 1s ease-in-out;
    color: #ffcc00;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.slider .testimonial strong {
    font-size: 1.3rem;
    color: #ccc;
}
.testimonial {
    flex: 0 0 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    scroll-snap-align: center;
    background: #a8900d;
}
.process {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(to right, #fff, #f4f4f4);
}
.process h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.process-steps {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}
.process-steps .step {
    flex: 0 0 300px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.process-steps .step h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #4a90e2;
}
.portfolio {
    padding: 20px 10px;
    text-align: center;
    background: #cfd49e;
}
.portfolio h2{
    font-size: 2rem;
    margin-bottom: 14px;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 14px;
}
.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 25px 8px rgba(0, 0, 0, 0.2);
    transition:  transform 0.3s ease, filter 0.3s ease;
}
.portfolio-item img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
    max-height: 250px;
    object-fit: cover;
    height: auto;

}
.portfolio-item:hover img{
    transform: scale(1.1);
    filter: brightness(0.8);
}
.portfolio-item h3 {
    position: absolute;
    bottom: 7px;
    left: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffcc00;
    padding: 4px 7px;
    border-radius: 25px;
    font-size: 1rem;
}
.portfolio-item h3:hover {
    color: #fff;
    background: #766627;
    transition: color 0.3s ease;
}
.portfolio-item p {
    font-size: 1rem;
    color: #666;
}
.portfolio-item img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.portfolio-item img:hover::after {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.counters {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;
    background: #f4f4f4;
    text-align: center;
}

.counter h3 {
    font-size: 3rem;
    color: #ffcc00;
}
.services {
    padding: 60px 20px;
    text-align: center;
    background: #cfd49e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;

}
.services-list {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.service {
    text-align: center;
    background: #374e64;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.service p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}
.service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}
.service-icon {
    font-size: 2.5rem;
    color: #4a90e2;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}
.service-icon:hover {
    color: #e2bc02;
    transition: color 0.3s;
}
.about {
    padding: 60px 20px;
    text-align: center;
    margin-bottom: 40px;
}
.about-container {
    display: flex;
    flex-direction: row; /* Default row layout */
    align-items: center;
    gap: 20px;
}
.about-text {
    flex: 1;
    text-align: left;
}
.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}
.about-text p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
}
.about-image {
    flex: 1;
}
.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* Contact Us $ Faq section*/
.contact-section {
    padding: 30px 15px;
    background: linear-gradient(to right, #cfd49e, #8ba465);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.contact-info {
    flex: 1;
    text-align: left;
    color: #333;
}
.contact-info h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    position: center;
    color:#000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-info p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #1a1a1a;
    line-height: 1.3;
}
.contact-form {
    flex: 1;
    background: #cfd49e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
.contact-form h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.contact-form input,
.contact-form textarea {
    width: 95%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #cccbcb;
}
.contact-form button {
    padding: 12px 25px;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(to right, #000, #666);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    font-weight: bold;
}
.contact-form button:hover {
    background: #8ba465;
    color: #fff;
    transform: scale(1.1);
}

/* FAQ */
.faq-section {
    padding: 30px 10px;
    background: #cfd49e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;

}
.faq-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.faq-item {
    margin-bottom: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid;
}
.faq-item h3 {
    font-size: 1.5rem;
    padding: 15px;
    margin: 0;
    background: #cccbcb;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
}
.faq-item h3:hover {
    background: #666;
    color: #fff;
}

.faq-item p {
    padding: 15px;
    margin: 0;
    font-size: 1rem;
    color: #666;
    display: none;
    line-height: 1.6;
    animation: slideDown 0.3s ease forwards;
}

.faq-item.active p {
    display: block;
}


/* Team Section */
/* Team Section */
.team {
    padding: 70px 20px;
    text-align: center;
    background: #cfd49e;
    color: #333;
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.team p {
    color: #000;
    font-size: 1.5rem;
}
.team q {
    color: #fff;
}
.team-intro {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.team-grid {
    display: grid;
    grid-template-areas:
        "member1 member2"
        "member3 member3";
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.team-member1 {
    grid-area: member1;
    text-align: center;
    background: #1a1a1a;
    color: #ffcc00;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-member2 {
    grid-area: member2;
    text-align: center;
    background: #1a1a1a;
    color: #ffcc00;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-member3 {
    grid-area: member3;
    text-align: center;
    background: #374e64;
    color: #ffcc00;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-image img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.team-image img:hover {
    transform: scale(1.05);
}

.team h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffcc00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a {
    color: #ffcc00;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #ffcc00;
    transform: scale(1.2);
}
/* Blog Section */
.blog {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(to right,  #f4f4f4, #eaeaea);
}
.blog h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:  #ffcc00;
}
.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.blog-post {
    background: linear-gradient(to right, #9f9b9b, #a8900d);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.blog-post img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.blog-post h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #253b42;
}
.blog-post p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blog-post .read-more {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}
.blog-post .read-more:hover {
    color: #357ab8;
}
/* Awards Section */
/* Awards and Certifications Section */
.awards {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(to right, #cfd49e, #8ba465); /* Matches other sections */
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.awards h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000; /* Matches the theme */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
}
.awards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-auto-rows: 1fr; /* Ensures consistent row height */
    gap: 20px;
}
.award:nth-child(1) {
    grid-column: span 2; /* First award spans two columns */
}
.award:nth-child(2) {
    grid-column: span 1; /* Second award spans one column */
}
.award {
    background: #675507;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
.award:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}
.award img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.award p {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    .awards h2 {
        font-size: 2rem;
    }

    .awards-grid {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }

    .award:nth-child(1),
    .award:nth-child(2) {
        grid-column: span 1; /* Reset column spans for smaller screens */
    }

    .award p {
        font-size: 1rem;
    }
}
/* map */
.map {
    padding: 60px 20px;
    text-align: center;
    background: #323266;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.map h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffcc00;
    border: #000;
}
.map iframe {
    border-radius: 8px;
    width: 100%;
    height: 400px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
/* Newsletter Section */
.newsletter {
    padding: 60px 20px;
    text-align: center;
    background: #ffcc00;
    color: #000;
    border-radius: 10px;
}
.newsletter h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: cursive;
}
.newsletter p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.newsletter-form input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    flex: 1;
    max-width: 300px;
}
.newsletter-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background: #f4d03f;
    color: #1a1a2e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.newsletter-form button:hover {
    background: #e2bc02;
    color: #fff;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .social-icons a {
    color: #ffcc00;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
footer .social-icons img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}